@tailwind base;
@tailwind components;
@tailwind utilities;


/* Colors */
/* primary color -  blue- #09528C , subduded red- E57373, neutral text color- 333333 */
.footer-top {
  clip-path: polygon(0 0, 100% 15%, 100% 100%, 0% 100%);
}

/* hide number arrow */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.my-inp{
  @apply block w-full p-3 bg-slate-900 text-slate-200 placeholder:text-slate-600 shadow-inner shadow-slate-800 border-none rounded focus:outline-none
}


/* Common color */
.text-primary{
  color: #09528C !important;
}
.text-secondary{
  color: #E57373 !important;
}
.bg-primary{
  background-color: #09528C;
}
.bg-secondary{
  background-color: #E57373;
}

/* Common layout */
.my-container{
  @apply max-w-7xl container mx-8 md:mx-12 xl:mx-auto
}


/* Common title and subtitle */
.my-banner-title{
  @apply font-bold text-xl md:text-4xl xl:text-7xl
}
.my-title{
  @apply font-bold text-2xl md:text-3xl xl:text-5xl
}
.my-subtitle{
  @apply font-semibold text-lg xl:text-2xl
}


.my-shadow{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.my-shadow-2{
  box-shadow: rgb(223 223 228 / 42%) 0px 0px 19px 4px;
}

.my-btn-one{
  @apply bg-[#09528C] border-2 border-transparent text-slate-100 rounded py-3 px-6 hover:bg-slate-100 hover:border-2 hover:border-[#09528C] hover:text-[#09528C]
}
.my-btn-two{
  @apply bg-[#E57373] text-slate-100 rounded py-3 px-6 hover:scale-105 transition
}
.my-btn-one-outline{
  @apply bg-slate-50 hover:bg-[#09528C] border-2 font-semibold hover:text-slate-100 text-[#09528C] rounded py-3 px-6 border-[#09528C]
}

/* Scrollbar */
body::-webkit-scrollbar {
  width: 1em;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}